.spotify-logo {
  width: 70px;
  height: 70px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .row-spotdash {
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .spotdash-header {
      margin: 20px 0 20px 0;
    }
  }
}
